/*FONT*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


/*MAIN FONT AND BACKGROUND COLOR*/

body {
	font-family: 'Quicksand', sans-serif;
	background-color: #ffffff;
}

/*HEADER*/

header {
	background-color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	height: 200px;
	padding-bottom: 50px;
}

/*NAVIGATION BAR*/

.navbar ul{
	background-color: #ffffff;
	height: 20px;
	font-family: 'Quicksand', sans-serif;
	color: #F2B885;
	font-size: 20px;
	text-decoration-color: #F2B885;
	padding: 0px;
	margin: auto;
}

/*BODY*/

body {
  margin: 0
}

.member img {
  max-width: 100%;
  display: block;
}

@media (max-width:480px) {
  .member {
    flex: 0 100%
  }
}

/*FOOTER */

footer {
	height: 100px;
	color: #37848C;
	background-color: #F2B8A2;
	font-family: 'Quicksand', sans-serif;
}

/*SOCIAL MEDIA BUTTONS*/

footer a:hover {
	opacity: .5;
}

/* VISION AND VALUES */

.column {
  float: left;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #37848C;
}

.container-fluid {
	text-align: center;
	color: #37848C;
	padding-top: 30px;
	padding-bottom: 30px;
}.px-2 {
}
