/* Importing a Google Font */

<style>
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
</style>


/* Changing the main font and background colour */

body {
	font-family: 'Lora', serif
	background-color: #F2B8A2;

}

/* Changing the background colour for the header */

header {
	background-color: #ffffff;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
}

/* Changing the background color for the navigation bar */

.navbar ul{
	background-color: #ffffff;
	height: 40px;
	font-family: 'Lora', serif
	color: #F2B885;
	font-size: 20px;
	text-decoration-color: #F2B885;
	padding: 0;
	margin: auto;
	text-align: center;
}

body {
  margin: 0
}

#design-cast {
  display: flex;
  flex-wrap: wrap;
}

.member {
  flex: 0 48%;
  margin: 1% 1% 45px 1%;
}

.member img {
  max-width: 100%;
  display: block;
}

@media (max-width:480px) {
  .member {
    flex: 0 100%
  }
}

footer {
	color: #37848C;
	background-color: #F2B8A2;
	font-family: 'Bebas Neue', cursive;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}


