/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


/* Changing the main font and background colour */

body {
	font-family: 'Quicksand', sans-serif;
	background-color: #ffffff;

}

/* Changing the background colour for the header */

header {
	background-color: #ffffff;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

/* Changing the background color for the navigation bar */

.navbar ul{
	background-color: #ffffff;
	height: 40px;
	font-family: 'Quicksand', sans-serif;
	color: #F2B885;
	font-size: 20px;
	text-decoration-color: #F2B885;
	padding: 0;
	margin: auto;
	text-align: center;
}


body {
  margin: 0
}



.member img {
  max-width: 100%;
  display: block;
}

@media (max-width:480px) {
  .member {
    flex: 0 100%
  }
}

footer {
	color: #37848C;
	background-color: #F2B8A2;
	font-family: 'Quicksand', sans-serif;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
	background-color: #F2B8A2;
	color: #ffffff;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
  color: #37848C;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;

